* {
    box-sizing: border-box;

}

/* creates grid page layout*/
body {
    margin: 0;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns:20% 80%;
    height: 100%;
    grid-template-areas:
    "h h"
    "pn m";
    font-family: Roboto, sans-serfi;
}
.main-area{
    display: grid;
    grid-area: m;
    overflow: auto;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "mc ad"
        "mc ad"
        "mc ad"
        "n n"
        "f f"
        "p p";
    height: 100%;

}



/*grid positioning*/

.main-nav {
    grid-area: h;
    background-color: black;
}
.main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;

}
.main-nav ul a {
    color: white;
    padding-right: 1em;
    padding-left: .3em;
}
.main-nav a {
    text-decoration: none;
}
.page-nav {
    background: #F0F0F0;
}
.page-nav ul{
    grid-area: pn;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.page-nav ul li{
    padding-top: 1em;
    padding-left: 1em;

}
.page-nav ul li:nth-child(1) {
    padding-bottom: 1em;
    font-weight: bold;

}
.page-nav ul a{
    text-decoration: none;
    color: black;
    padding-top: 1em;
    padding-bottom: .5em;
}
.main-content {
    grid-area: mc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ads {
    grid-area: ad;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.small-box {
    border: 1px black solid;
    margin: 1em;
    height: 75px;
    width: 300px;

}
.large-box {
    border: 1px black solid;
    margin: auto;
    height: 150px;
    width: 300px;
}
.page-numbers {
    grid-area: n;
}

footer {
    grid-area: f;
}

.powered {
    grid-area: p;
}


