* {
    box-sizing: border-box;

}

/* creates grid page layout*/
body {
    margin: 0;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns:20% 80%;
    min-height: 100vh;
    grid-template-areas:
    "h h"
    "pn m";
    overflow: hidden;
}
.main-area{
    display: grid;
    grid-area: m;

    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "mc ad"
        "mc ad"
        "mc ad"
        "n n"
        "f f"
        "p p";
    overflow: auto;
    height: 800px;

}

.main-nav, .page-nav, .main-content, .ads, .page-numbers, footer, .powered {
    background: yellow;
    border: 1px solid black;
}

/*grid positioning*/

.main-nav {
    grid-area: h;
    background-color: black;

}
.main-nav ul, a{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding-right: 1em;
    padding-left: .3em;
    color: white;

}
.page-nav ul, a{
    grid-area: pn;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: black;
}
.main-content {
    grid-area: mc;
}
.ads {
    grid-area: ad;
}

.page-numbers {
    grid-area: n;
}

footer {
    grid-area: f;
}

.powered {
    grid-area: p;
}

