* {
    box-sizing: border-box;

}

/* creates grid page layout*/
body {
    margin: 0;
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 1.4fr 10fr;
    height: 100vh;
    grid-template-areas:
    "h h"
    "pn m";
    font-family: Roboto, sans-serfi;

}
.main-area{
    display: grid;
    grid-area: m;
    grid-template-rows: repeat(6, 200px) 100px 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "mc ad"
        "mc ad"
        "mc ad"
        "mc ad"
        "mc ad"
        "n n"
        "f f"
        "p p";
    overflow: auto;
    height: 100%;


}

.main-content article:nth-child(2){

    margin-bottom: 50px;
}
.main-content article:nth-child(3){

    margin-bottom: 50px;
}
/*grid positioning*/

.main-nav {
    grid-area: h;
    background-color: black;
}
.main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;
    padding-left: 1em;

}
.main-nav ul a {
    color: white;
    padding-right: 2em;
}
.main-nav a {
    text-decoration: none;
}
.page-nav {
    background: #F0F0F0;
}
.page-nav ul{
    grid-area: pn;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.page-nav ul li{
    padding-top: 1em;
    padding-left: 1em;

}
.page-nav ul li:nth-child(1) {
    padding-bottom: 1em;
    font-weight: bold;

}
.page-nav ul a{
    text-decoration: none;
    color: black;
    padding-top: 1em;
    padding-bottom: .5em;
}
.main-content {
    grid-area: mc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
    line-height: 1.5em;
}
.main-content article {
    margin-top: 1.5em;
}
.main-content article:nth-child(3) {
    margin-bottom: 5em;
}
.ads {
    grid-area: ad;
    background: #FFFFFF;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
    "top"
    "middle"
    "bottom";
    grid-gap: 4em;
}

.ads section:nth-child(1){
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ads section:nth-child(2){
    grid-area: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ads section:nth-child(3){
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-box {
    border: 1px black solid;
    margin: 1em;
    height: 75px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.small-box p {
    height: 100%;
    align-self: center;
    background-color: yellow;
}
.large-box {
    border: 1px black solid;
    height: 150px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.large-box p {

    align-self: center;
    background-color: yellow;
}
.page-numbers {
    grid-area: n;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.page-numbers ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2em;

}
.page-numbers ul a {
    text-decoration: none;
    padding: 1em;
    color: black;
}

.page-numbers ul li {
    transition: .2s;
    background: white;
}
.page-numbers ul li:hover {
    background-color: black;
}
.page-numbers ul li>a:hover {
    color: white;
}
footer {
    grid-area: f;
    background: #666666;
    color: white;
}

.powered {
    grid-area: p;
    background: #333333;
    color: white;
}
.powered a {
    color: white;
}


